// Starting waybar with systemd.
//
// systemctl --user add-wants niri.service waybar@niri.service
// systemctl --user add-wants niri.service hyprpolkitagent.service
// systemctl --user add-wants niri.service swaybg.service
// systemctl --user add-wants niri.service swayidle.service
//
// This will create links in ~/.config/systemd/user/niri.service.wants/, a special systemd folder
// for services that need to start together with niri.service.

spawn-at-startup "kitty" "--class=kitty-startup"
spawn-at-startup "brave" "--class=brave-startup" "--hide-crash-restore-bubble"
spawn-at-startup "thunderbird"
