// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id=r#"kitty$"# at-startup=true
    open-on-workspace "1"
    default-column-width { proportion 0.90; }
}

window-rule {
    match app-id=r#"brave-browser$"# at-startup=true
    open-on-workspace "2"
}

window-rule {
    match app-id=r#"^org\.mozilla\.Thunderbird$"# title="Mozilla Thunderbird$" at-startup=true
    open-on-workspace "3"
}

window-rule {
    match app-id="brave-browser$"
    match app-id=r#"^org\.mozilla\.Thunderbird$"# title="Mozilla Thunderbird$"
    match app-id="spotify$"
    open-maximized true
}

window-rule {
    match app-id=r#"kitty$"# at-startup=false
    match app-id=r#"org\.mozilla\.Thunderbird$"# title="^Write"
    default-column-width { proportion 0.50; }
}

window-rule {
    match app-id=r#"SpeedCrunch$"#
    open-floating true
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.33; }
    default-floating-position x=10 y=0 relative-to="right"
}

window-rule {
    match app-id=r#"brave-browser$"# title="wants to save$"
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    match app-id="lxqt-policykit-agent$"
    open-floating true
}

window-rule {
    match app-id=r#"steam$"# title="Friends List$"
    default-column-width { proportion 0.20; }
}

window-rule {
    match app-id=r#"steam$"# title="Steam$"
    default-column-width { proportion 0.80; }
}
