// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    hide-when-typing
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

debug {
    honor-xdg-activation-with-invalid-serial
    wait-for-frame-completion-before-queueing
}

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
        // bottom-left
    }
}

prefer-no-csd

screenshot-path "~/tmp/screenshot_%Y-%m-%d_%H-%M-%S.png"

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"

include "config.d/layout.kdl"
include "config.d/autostart.kdl"
include "config.d/window_rules.kdl"
include "config.d/bindings.kdl"
include "config.d/overview.kdl"
