@import "mocha.css";

* {
    transition: none;
    box-shadow: none;
}

#waybar {
    font-family: 'Fira Code';
    font-size: 1.2em;
    font-weight: 400;

    color: @text;
    background-color: shade(@base, 0.9);
    border: 2px solid alpha(@crust, 0.3);
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    margin: 4px 2px;
    padding: 0 6px;
    color: @text;
    background-color: @base;
    min-width: 20px;
    border-radius: 1px;
    border-bottom: 2px solid @base;
}

#workspaces button.visible {
}

#workspaces button.active {
    margin: 4px 2px;
    padding: 0 6px;
    color: @text;
    background-color: @base;
    min-width: 20px;
    border-radius: 1px;
    border-bottom: 2px solid @green;
}

#workspaces button.urgent {
    margin: 4px 2px;
    padding: 0 6px;
    color: @text;
    background-color: @base;
    min-width: 20px;
    border-radius: 1px;
    border-bottom: 2px solid @red;
}

#tray {
    margin: 4px 4px 4px 4px;
    border-radius: 4px;
    background-color: @base;
}

#tray * {
    padding: 0 6px;
    border-left: 1px solid @base;
}

#tray *:first-child {
    border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #temperature, #language {
    margin: 4px 2px;
    padding: 0 6px;
    background-color: @base;
    min-width: 20px;
    border-radius: 1px;
    border-bottom: 2px solid @base;
}

#clock {
    margin-left: 40px;
    margin-right: 4px;
    background-color: @base;
    /* border-radius: 4px; */
    min-width: 20px;
    font-weight: 900;
    /* border-radius: 1px; */
    /* border-bottom: 2px solid @lavender; */
}

#pulseaudio.muted {
}

#pulseaudio.bluetooth {
}

#temperature.critical {
    color: @red;
}

#custom-vpn.up {
    color: @text;
    margin: 4px 2px;
    padding: 0 6px;
    background-color: @base;
    min-width: 20px;
    border-radius: 1px;
    border-bottom: 2px solid @green;
}
#custom-vpn.down {
    color: @text;
    margin: 4px 2px;
    padding: 0 6px;
    background-color: @base;
    min-width: 20px;
    border-radius: 1px;
    border-bottom: 2px solid @base;
}

#window {
    font-size: 0.9em;
    font-weight: 400;
    font-family: sans-serif;
}

#language {
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: -1px;
}
